<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		
		<title>Components - CSS Framework</title>
		
		<meta name="author" content="CorsCode">
		
		
		<!-- FavIcon -->
		<link rel="icon" href="data:;base64,iVBORw0KGgo=">
		
		<!-- CSS Dependencies -->
		<link href='https://fonts.googleapis.com/css?family=Lato:400,300,100' rel='stylesheet' type='text/css' />
		
		<!-- Application CSS -->
		<link rel='stylesheet' href='../../../../../../../CorsCodeCSSFramework/public/css/main.css' />
		
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->	</head>
	<body>
		<div id="app">
			<header>
				<nav role="navigation">
					<div class="container">
						<div class="logo two columns">
							<img src="../../../../../../../CorsCodeCSSFramework/public/images/logo.png" />
						</div>
			
						<div class="ten columns">
							<input type="checkbox" id="toggle" />
							<label for="toggle" onclick></label>
			
							<ul class="u-pull-right">
									<li>
										<a href="../../../../../../../CorsCodeCSSFramework/">Home</a>
									</li>
									<li class="active">
										<a href="../../../../../../../CorsCodeCSSFramework/components/">Components</a>
									</li>
			
								<li class="download"><a href="https://github.com/CorsCode/CorsCodeCSSFramework/archive/master.zip">Download</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</header>
			<div class="content">
				<div class="container">
						<nav role="secondary-navigation">
							<ul>
										<li><a href="../../../../../../../CorsCodeCSSFramework/components/navigation/">Navigation</a></li>
										<li><a href="../../../../../../../CorsCodeCSSFramework/components/panels/">Panels</a></li>
										<li><a href="../../../../../../../CorsCodeCSSFramework/components/gallery/">Gallery</a></li>
										<li><a href="../../../../../../../CorsCodeCSSFramework/components/footer/">Footer</a></li>
							</ul>
						</nav>

					<h2 id="for-full-width-replace-every-occurrence-of-container-with-u-full-width-u-cf-">For full-width, replace every occurrence of &quot;container&quot; with &quot;u-full-width u-cf&quot;</h2>

				</div>
			</div>

			<footer class="container">
				<div class="copyright">
					<h5>CSS Framework</h5>
					<p>2016 &#169; All rights reserved.</p>
				</div>
			</footer>		</div>

		<!-- Application JS -->
		<script type="text/javascript" src="../../../../../../../CorsCodeCSSFramework/public/js/shared.js"></script>
		<script type="text/javascript" src="../../../../../../../CorsCodeCSSFramework/public/js/bundle.js"></script>
	</body>
</html>