<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		
		<title>Footer - CSS Framework</title>
		
		<meta name="author" content="CorsCode">
		
		
		<!-- FavIcon -->
		<link rel="icon" href="data:;base64,iVBORw0KGgo=">
		
		<!-- CSS Dependencies -->
		<link href='https://fonts.googleapis.com/css?family=Lato:400,300,100' rel='stylesheet' type='text/css' />
		
		<!-- Application CSS -->
		<link rel='stylesheet' href='../../../../../../../../CorsCodeCSSFramework/public/css/main.css' />
		
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->	</head>
	<body>
		<div id="app">
			<header>
				<nav role="navigation">
					<div class="container">
						<div class="logo two columns">
							<img src="../../../../../../../../public/images/logo.png" />
						</div>
			
						<div class="ten columns">
							<input type="checkbox" id="toggle" />
							<label for="toggle" onclick></label>
			
							<ul class="u-pull-right">
									<li>
										<a href="../../../../../../../../">Home</a>
									</li>
									<li class="active">
										<a href="../../../../../../../../components/">Components</a>
									</li>
			
								<li class="download"><a href="https://github.com/CorsCode/CorsCodeCSSFramework/archive/master.zip">Download</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</header>
			<div class="content">
				<div class="container">
						<nav role="secondary-navigation">
							<ul>
										<li><a href="../../../../../../../../components/navigation/">Navigation</a></li>
										<li><a href="../../../../../../../../components/panels/">Panels</a></li>
										<li><a href="../../../../../../../../components/gallery/">Gallery</a></li>
										<li class="active"><a href="../../../../../../../../components/footer/">Footer</a></li>
							</ul>
						</nav>

					<h3 id="footer">Footer</h3>
<pre><code class="lang-html">&lt;footer&gt;
    &lt;div class=&quot;u-full-width u-cf&quot;&gt;
        &lt;div class=&quot;final ten offset-by-one columns&quot;&gt;
            &lt;ul class=&quot;contact&quot;&gt;
                &lt;li&gt;
                    &lt;img src=&quot;./app/images/email.png&quot; /&gt;
                &lt;/li&gt;
                &lt;li&gt;
                    &lt;img src=&quot;./app/images/facebook.png&quot; /&gt;
                &lt;/li&gt;
                &lt;li&gt;
                    &lt;img src=&quot;./app/images/twitter.png&quot; /&gt;
                &lt;/li&gt;
                &lt;li&gt;
                    &lt;img src=&quot;./app/images/instagram.png&quot; /&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;copyright u-full-width u-cf&quot;&gt;
        &lt;h5&gt;Worth The Tip&lt;/h5&gt;
        &lt;p&gt;2016 &amp;#169; All rights reserved.&lt;/p&gt;
    &lt;/div&gt;
&lt;/footer&gt;
</code></pre>

				</div>
			</div>

			<footer class="container">
				<div class="copyright">
					<h5>CSS Framework</h5>
					<p>2016 &#169; All rights reserved.</p>
				</div>
			</footer>		</div>

		<!-- Application JS -->
		<script type="text/javascript" src="../../../../../../../../CorsCodeCSSFramework/public/js/shared.js"></script>
		<script type="text/javascript" src="../../../../../../../../CorsCodeCSSFramework/public/js/bundle.js"></script>
	</body>
</html>