<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		
		<title>Panels - CSS Framework</title>
		
		<meta name="author" content="CorsCode">
		
		
		<!-- FavIcon -->
		<link rel="icon" href="data:;base64,iVBORw0KGgo=">
		
		<!-- CSS Dependencies -->
		<link href='https://fonts.googleapis.com/css?family=Lato:400,300,100' rel='stylesheet' type='text/css' />
		
		<!-- Application CSS -->
		<link rel='stylesheet' href='../../../../../../../../public/css/main.css' />
		
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->	</head>
	<body>
		<div id="app">
			<header>
				<nav role="navigation">
					<div class="container">
						<div class="logo two columns">
							<img src="../../../../../../../../public/images/logo.png" />
						</div>
			
						<div class="ten columns">
							<input type="checkbox" id="toggle" />
							<label for="toggle" onclick></label>
			
							<ul class="u-pull-right">
									<li>
										<a href="../../../../../../../../">Home</a>
									</li>
									<li class="active">
										<a href="../../../../../../../../components/">Components</a>
									</li>
			
								<li class="download"><a href="https://github.com/CorsCode/CorsCodeCSSFramework/archive/master.zip">Download</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</header>
			<div class="content">
				<div class="container">
						<nav role="secondary-navigation">
							<ul>
										<li><a href="../../../../../../../../components/navigation/">Navigation</a></li>
										<li class="active"><a href="../../../../../../../../components/panels/">Panels</a></li>
										<li><a href="../../../../../../../../components/gallery/">Gallery</a></li>
										<li><a href="../../../../../../../../components/footer/">Footer</a></li>
							</ul>
						</nav>

					<h3 id="panels">Panels</h3>
<pre><code class="lang-html">&lt;div class=&quot;panel-container row&quot;&gt;
    &lt;div class=&quot;inner&quot;&gt;
        &lt;div class=&quot;panel four columns&quot;&gt;
            &lt;div class=&quot;inner&quot;&gt;
                &lt;h3&gt;Test Panel&lt;/h3&gt;

                &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&lt;/p&gt;

                &lt;a href=&quot;#&quot;&gt;Test&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;panel eight columns&quot;&gt;
            &lt;div class=&quot;inner&quot;&gt;
                &lt;h3&gt;Test Image Panel&lt;/h3&gt;

                &lt;div class=&quot;image&quot;&gt;
                    &lt;img src=&quot;http://placehold.it/1000x450&quot; /&gt;
                &lt;/div&gt;

                &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
<h4 id="supports-masonry-like-panels">Supports masonry-like panels</h4>
<pre><code class="lang-html">&lt;div class=&quot;flow-container row&quot;&gt;
    &lt;div class=&quot;inner&quot;&gt;
        &lt;div class=&quot;panel&quot;&gt;
            &lt;h3&gt;Test Panel&lt;/h3&gt;

            &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&lt;/p&gt;

            &lt;a href=&quot;#&quot;&gt;Test&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;panel&quot;&gt;
            &lt;h3&gt;Test Panel&lt;/h3&gt;

            &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.&lt;/p&gt;

            &lt;a href=&quot;#&quot;&gt;Test&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;panel&quot;&gt;
            &lt;h3&gt;Test Panel&lt;/h3&gt;

            &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.&lt;/p&gt;

            &lt;a href=&quot;#&quot;&gt;Test&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;panel&quot;&gt;
            &lt;h3&gt;Test Image Panel&lt;/h3&gt;

            &lt;div class=&quot;image&quot;&gt;
                &lt;img src=&quot;./app/images/elegant_dish.jpg&quot; /&gt;
            &lt;/div&gt;

            &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.&lt;/p&gt;
        &lt;/div&gt;
        &lt;div class=&quot;panel&quot;&gt;
            &lt;h3&gt;Test Image Panel&lt;/h3&gt;

            &lt;div class=&quot;image&quot;&gt;
                &lt;img src=&quot;./app/images/elegant_dish.jpg&quot; /&gt;
            &lt;/div&gt;

            &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.&lt;/p&gt;
        &lt;/div&gt;
        &lt;div class=&quot;panel&quot;&gt;
            &lt;h3&gt;Test Panel&lt;/h3&gt;

            &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.&lt;/p&gt;

            &lt;a href=&quot;#&quot;&gt;Test&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;panel&quot;&gt;
            &lt;h3&gt;Test Panel&lt;/h3&gt;

            &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&lt;/p&gt;

            &lt;a href=&quot;#&quot;&gt;Test&lt;/a&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>

				</div>
			</div>

			<footer class="container">
				<div class="copyright">
					<h5>CSS Framework</h5>
					<p>2016 &#169; All rights reserved.</p>
				</div>
			</footer>		</div>

		<!-- Application JS -->
		<script type="text/javascript" src="../../../../../../../../public/js/shared.js"></script>
		<script type="text/javascript" src="../../../../../../../../public/js/bundle.js"></script>
	</body>
</html>